/* Global Var */
:root {
  --main-blue: #273362;
  --main-blue-hover: rgb(220, 99, 56);
  --main-dark: rgb(20, 20, 20);
  --main-deep-dark: rgb(0, 0, 0);
  --main-gray: rgb(153, 153, 153);
  --main-white: #fff;
  --main-pink: #ff56ac;
  --main-light-blue: #1bcaff;
  --main-purple: #e33cff;
  --main-dark-blue: #283464;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}

/* Header Section */

.header-container {
  width: 100%;
  height: 80vh;
  position: relative;
  background: url(../svg/background.svg) no-repeat center center/cover;
}

.kurser-container {
  background: #4c68ff;
}

/* Feature section */
.feature-container {
  background: url(../images/bk2.png) no-repeat center center/cover;
}

/* Kurser Tilbud Section */
.mid-section-container {
  background: url(../images/bk3.png) no-repeat center center/cover;
}

/* Footer Section */
.footer-container {
}

/*************************************************************************************
                                | HERO / LANDING PAGE
**************************************************************************************/

.hero {
  height: 100vh;
  background-image: url(../svg/background.svg);
  background-position: center;
  background-size: cover;
}

/*************************************************************************************
                                | Login Page
**************************************************************************************/
.login-header-top {
  position: Relative;
  height: 15rem;
  margin-bottom: -275px;
}

@media screen and (max-width: 1050px) {
  .login-container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .login-container {
    grid-template-columns: 1fr;
  }

  img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

/*************************************************************************************
                                | Nav bar
**************************************************************************************/
@media screen and (max-width: 850px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1000;
  }

  .nav-list > li {
    line-height: 6rem;
  }

  li.move-right {
    margin: 0 auto 0 0;
    line-height: initial;
  }
  .menu-icons {
    display: block;
  }
  .menu-close {
    display: none;
  }

  nav.active .menu-close {
    display: block;
  }

  nav.active .menu-open {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}
